
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
header {
    nav {
        .right_nav {
            ul {
                font-size: 1.6rem;
            }
        }
    }
}
section {
    padding: 0;
    color:#fff;
    
    .section_container {
        display: flex;
        .section_container_right {
            width: 52%;
            padding:80px  70px 80px 40px;
            h1 {
                font-size: 5.6rem;
                margin-left: 0px;
                margin-bottom: 20px;
            }
            .section_container_right_paragraph {
                font-size: 2.2rem;
                margin-bottom: 40px;
                max-width: 50rem;
                line-height: 37px;
                font-size: 25px;
            }
            .section_container_form {
                display: flex;
                flex-direction: column;
                .btn {
                    width: 350px;
                    border-radius: 20px;
                    padding:14px 50px;
                    text-align: center;
                    font-size: 13px
                };
                div {
                    position: relative;
                    
                    input {
                        padding:15px 20px 15px 50px;
                        border-radius: 20px ;
                        border:none;
                        margin-bottom: 15px;
                       
                        width: 350px;
                        
                        &::placeholder {
                            color:black;
                            font-family: 'Work Sans';
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    i {
                        position: absolute;
                        color:#BDBDBD;
                        z-index: 100;
                        top:15px;
                       left:20px;
                        font-size: 15px;
                    }
                }
            }
        }
        .section_container_left {
            width: 48%;
            background:url(images/Image\ Placeholder\ \(3\).png);
            // img {
            //     width: 100%;
            //     height: 695px;
            // }
            background-position: center;
            background-size: cover;
        }
    }
}
